#main
{
    margin: auto;
    border: 2px solid lightsteelblue;
    width: 600px;
    height: 350px;
    background: url("personBG.jpg");  /*#06849b*/
    background-size: cover;
    color: #06849b;
    font-family: sans-serif;
    padding: 0px 20px 0px 20px;
    border-radius: 10px;
    margin-bottom: 10px;
}
h1
{
    color: black;
}
#image
{
    position: relative;
    float: right;
    top: -110px;
}
a
{
    color: black;
}
img
{
    border: 1px solid lightsteelblue;
}
body
{
    background: url("background.png") fixed;
}

